[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ronald-orozco/Escritorio/SSD_1TB]
row=1
col=0

[7BC7-8161]
row=2
col=0

[3e5affdc-8d29-4c09-b679-b0b6b279f5c2]
row=3
col=0

[Papelera]
row=4
col=0

[/]
row=5
col=0

[/home/ronald-orozco]
row=0
col=0

