[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[7BC7-8161]
row=2
col=0

[C0FB-5856]
row=1
col=1

[327D-73DA]
row=3
col=1

[0f6de50f-588a-424b-af14-a833a49ce24c]
row=2
col=1

[0C021F0F021EFE00]
row=4
col=0

[78CE-AF3C]
row=0
col=1

[Papelera]
row=1
col=0

[/]
row=3
col=0

[/home/ronald-orozco]
row=0
col=0

